<div class="nav-header">
    <div class="title">
        <h4>Where in the world?</h4>
    </div>
    <div class="theme-toggle">
        <button value="Dark mode" (click)="toggleTheme()">Dark Mode</button>
    </div>
</div>

<div class="app">
    <div class="container-fluid mb-5">
        <div class="row">
            <div class="col">
                <button class="back-button" (click)="back()">Back</button>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <!--Flag image-->
            <div class="col-6 d-flex justify-content-center">
                <img style="height: 60%;" class="country-flag" src="{{country.flags!.svg}}" alt="">
            </div>
            <div class="col-6 mt-5">
                <div class="row mt-4 mb-4">
                    <div class="col">
                        <h2 class="text-start">{{country!.name!.common}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <strong>Native Name:</strong> {{country.name!.nativeName![nameKey].common}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Population:</strong> {{country.population}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Region:</strong> {{country.region}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Sub Region:</strong> {{country.subregion}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Capital:</strong> {{country.capital}}
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <strong>Top Level Domain:</strong> {{country.tld}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Currencies:</strong> {{currencyString}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <strong>Languages:</strong> {{languageString}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 justify-content-start">
                    <div class="col-3 mt-1">
                        <strong>Border countries:</strong>
                    </div>
                    <div class="col">
                        <div class="row g-4">
                            <div *ngFor="let border of borders" class="col-3 ms-2 country-tag">
                                {{border}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>