<div class="nav">
    <div class="title">
        <h4>Where in the world?</h4>
    </div>
    <div class="theme-toggle">
        <button value="Dark mode" (click)="toggleTheme()">Dark Mode</button>
    </div>
</div>
<div class="app">
    <div class="row">
        <div class="search">
            <input type="text">
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="flag">
                <img src="" alt="">
            </div>
            <div class="card-body">
                <div class="country-name">
                    Country name
                </div>
                <div class="country-info">
                    <strong>Population:</strong> |number|
                </div>
                <div class="country-info">
                    <strong>Region:</strong> |region|
                </div>
                <div class="country-info">
                    <strong>Capital:</strong> |capital|
                </div>
            </div>
        </div>
    </div>
</div>